@media (min-width: 992px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
    background-color: var(--main-light-mode);
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--nav-light-mode);
    border-bottom: 1 solid #484abb;
    font-family: "Roboto";
    font-weight: 700;
    font-size: larger;
    width: 100vw;
    z-index: 1;
  }

  nav {
    padding: 1rem;
    color: var(--text-light);
  }

  #menu-lg {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #menu-sm {
    display: none;
  }
  #menu-btn {
    display: none;
  }
  .nav-sm {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0 4rem;
  }

  .nav-link {
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-light);
  }

  .nav-link.active {
    color: #274b99;
  }

  .nav-link:not(.active):hover {
    color: #7d838a;
  }

  .qol-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }

  .search-bar {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--main-light-mode);
    border: 2px solid transparent;
    font-size: large;
  }

  .search-bar:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 2px solid rgb(93, 92, 92);
  }
  .search-bar::placeholder {
    color: var(--nav-dark-mode);
    font-size: large;
  }

  .color-scheme-btn {
    height: 2.25rem;
    width: 2.25rem;
    margin: 0.25rem 1.5rem 0.5rem;
    border: none;
    background-color: inherit;
    size: 1.5rem;
    padding: 0;
  }

  .color-scheme-btn:hover {
    cursor: pointer;
  }

  .color-scheme-btn > svg {
    fill: #6366f1;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--footer-light-mode);
    margin-top: 10rem;
    margin-bottom: 0;
    width: 100vw;
  }
  footer ul {
    list-style: none;
    margin: 1.5rem 0;
  }
  footer li {
    margin: 1.5rem 0;
  }
  footer a {
    text-decoration: none;
    color: var(--text-light);
    font-family: Tahoma;
    font-weight: 500;
  }
  footer a:hover {
    text-decoration: underline;
  }

  .shadow-drop-center {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35)
  }
  
}

body.dark, body.dark header *, body.dark main, body.dark footer, body.dark footer ul, body.dark footer li, body.dark footer a {
  background-color: var(--nav-dark-mode);
  color: white;
}

body.dark nav .search-bar::placeholder {
  color:white
}

body.dark li .team-link {
  color: white;
}
