@media (min-width: 399px) and (max-width: 768px) {
  /* styles for screens with a minimum width of 399px */

  .main-desc {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .main-desc-graph {
    border-radius: 15px;
  }

  .main-desc-text {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    width: 90%;
  }
  .card-container section {
    border-radius: 15px;
    height: fit-content;
    display: flex;
    height: 25rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    position: relative;
    z-index: 0;
    margin: 5px 0;
  }

  #card-leagues {
    display: flex;
    background: rgb(242, 11, 46);
    background: linear-gradient(
      90deg,
      rgba(242, 11, 46, 1) 0%,
      rgba(97, 97, 221, 1) 53%,
      rgba(0, 212, 255, 1) 100%
    );
    justify-content: center;
    img {
      border-radius: inherit;
      width: 70%;
      height: fit-content;
    }
  }
  #card-trending {
    img {
      border-radius: inherit;
      width: 100%;
      height: fit-content;
    }
  }
  #card-locker {
    background: rgb(212, 249, 192);
    background: linear-gradient(
      30deg,
      rgba(212, 249, 192, 1) 0%,
      rgba(4, 159, 16, 1) 100%
    );
    width: 100%;
    margin-bottom: 10%;
  }
  #card-locker ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    color: #1d1d1dad;
  }

  #card-locker li {
    list-style-image: url("../images/person_icon.png");
    opacity: 75%;
  }

  #card-locker .line {
    color: inherit;
    width: 150px;
    height: 10px;
    border-radius: 10rem;
    margin-top: 40px;
    background-color: #1d1d1d83;
  }

  .magic-cover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    background-color: #0000009d;
    border-radius: inherit;
    width: 100%;
  }
  .magic-cover span {
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    font-size: x-large;
  }
  .shadow-drop-center {
    -webkit-animation: shadow-drop-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .text-focus-in {
    -webkit-animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-focus-in 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .text-blur-out {
    -webkit-animation: text-blur-out 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
    animation: text-blur-out 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  .pulsate-fwd {
    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
    animation: pulsate-fwd 3s ease-in-out infinite both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
      filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
      filter: blur(12px) opacity(0%);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
      filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
      filter: blur(12px) opacity(0%);
    }
  }
  @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
