:root {
    --main-light-mode: #EDF2FE;
    --nav-light-mode: #D0DFFF;
    --footer-light-mode: #5184a6;
    --main-dark-mode: #111725;
    --nav-dark-mode: #1D2E61;
    --footer-dark-mode: #292A2E;
    --text-light: #3657C3;
    --text-dark: #D5E2FF;
  }

@media (min-width: 992px) {

    .league-selector-sm {
        display: none;
    }
    .select-prompt {
        display: none;
    }

    .league-selector {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .league-selector li {
        list-style: none;
        
        background-color: var(--footer-light-mode);
        color: var(--text-light);
        border: 1px solid transparent;
        border-radius: 4rem;
        font-weight: 500;
        button {
            all: inherit;
            padding: .5rem 1rem;
            border:none

        }
    }

    .league-selector li:hover {
        cursor: pointer;
    }

    .league-selector button.selector-active {
        background-color: var(--main-dark-mode);
        /* border: var(--footer-dark-mode); */
        color: white;
        button {
            background-color: inherit;
            all: inherit;
            padding: .5rem 1rem;
        }
    }

    #leagues-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-right: 2%
    }

    .team-card {
        list-style: none;
        width: 200px;
        padding: auto;
        cursor: pointer;
        margin: 1rem .5rem 1rem;
    }

    .team-card:hover {
        transform: scale(1.1, 1.1);
        transition: transform linear .1s;
    }

    .team-link {
        text-decoration: none;
        color: var(--footer-dark-mode);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
    }
    .team-link span {
        text-align: center;
        font-weight: 500;
        font-size: large;
    }
    .team-logo {
        height: 10em;
        width: 10em;
    }

}