@media (min-width: 992px) {

  .league-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .league-selector li {
    list-style: none;

    background-color: #1d1842;
    color: white;
    outline: 2px solid #22c55e;
    border-radius: 4rem;
    font-weight: 500;
    button {
      all: inherit;
      padding: 0.5rem 1rem;
      border: none;
    }
  }

  .league-selector li:hover {
    cursor: pointer;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    transform: scale(1.1, 1.1);
  }

  .league-selector button.selector-active {
    color: #22c55e;
    button {
      background-color: inherit;
      all: inherit;
      padding: 0.5rem 1rem;
    }
  }

  #leagues-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-card {
    background-color: #3d34814d;
    list-style: none;
    width: 200px;
    height: 250px;
    padding: auto;
    cursor: pointer;
    margin: 1rem 0.5rem 1rem;
    border: 2px solid #22c55e;
    border-radius: 9px;
  }

  .team-card:hover {
    transform: scale(1.1, 1.1);
    transition: transform linear 0.1s;
  }

  .team-link {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
  .team-link span {
    text-align: center;
    font-weight: 500;
    font-size: large;
  }
  .team-logo {
    height: 10em;
    width: 10em;
  }
}
