@media (min-width: 399px) and (max-width: 768px) {
  /* styles for tablet */
  main {
    align-items: center;
  }
  .league-selector {
    display: none;
  }

  .select-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 700;
  }
  .league-selector {
    max-height: 100px;
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    transition: max-height 0.1s ease-in;
    background-color: inherit;
    margin-top: 3rem;
  }

  .league-selector li {
    list-style: none;

    background-color: var(--footer-light-mode);
    color: var(--text-light);
    border: 1px solid transparent;
    border-radius: 4rem;
    font-weight: 500;
    margin: 0.5rem 0.5rem;
    button {
      all: inherit;
      padding: 0.5rem 1rem;
      border: none;
    }
  }

  .league-selector button.selector-active {
    background-color: var(--main-dark-mode);

    button {
      all: inherit;
      padding: 0.5rem 1rem;
    }
  }

  #leagues-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    margin-right: 2%;
    margin-left: 2%;
    padding-left: 0;
  }

  .team-card {
    list-style: none;

    width: 1/2;
    padding: auto;
    cursor: pointer;
    margin: 1rem 0.5rem 1rem;
  }

  .team-link {
    text-decoration: none;
    color: var(--footer-dark-mode);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
  }
  .team-link span {
    text-align: center;
    font-weight: 500;
  }
  .team-logo {
    height: 10em;
    width: 10em;
  }
}
