:root {
    --main-light-mode: white;
    --nav-light-mode: #f3f4f6;
    --footer-light-mode: #9ca3af;
    --main-dark-mode: rgb(48, 47, 47);
    --nav-dark-mode: black;
    --footer-dark-mode: rgb(42, 42, 42);
  }

@media (min-width:  992px) {

    .no-saved-notif {
        display: flex;
        flex-direction: column;
       
    }
    .no-saved-notif h1, span {
        text-align: center;

    }
    main {
        margin: auto;
        justify-content: center;
        align-items: center;
    }


}