#graph-container {
  display: flex;
  justify-content: center;
}
#graph {
  align-content: center;
  display: flex;
  padding: 1rem;
  margin: 5rem 0;
}

.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem;
}

.team-record,
.team-name {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
.team-logo {
  width: 250px;
}
#save-btn,
#article-btn {
  /* position: relative; */
  color: white;
  border: 2px solid #22c55e;
  font-size: 1.2rem;
  padding: 0.5rem;
  height: fit-content;
  width: fit-content;
  border-radius: 6px;
  margin-top: 0.5em;
}
#save-btn:hover,
#article-btn:hover {
  font-weight: bolder;
  border: 2px solid #22c55e;
  color: #22c55e;
}
.player-roster-header {
  text-align: center;
  color: white;
}

#player-search {
  background-color: #1d1842;
  border: 2px solid #22c55e;
  color: #22c55e;
}
#player-search::placeholder {
  color: #22c55e;
}
#player-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 0;
}
/* Player list item */
#player-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  max-width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

#player-list li:hover {
  transform: scale(1.1, 1.1);
  transition: transform linear 0.1s;
}

#player-list a p {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.player-icon {
  list-style: none;
  width: 200px;
  padding: auto;
  margin: 1rem 0.5rem 0;
}

#save-player-btn {
  border: 2px solid #22c55e;
  color: white;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
}

#save-player-btn:hover {
  font-weight: bolder;
  color: #22c55e;
}

@media (min-width: 399px) and (max-width:768px) {
  .team-logo {
    width: 45%;
    height: fit-content;
  }
  .team-record {
    font-weight: bold;
    font-size: large;
  }
}